.padding { 
    padding-top: 100px; 
    padding-left: 30px
}


.notice{
	border: 1px solid black;
	border-collapse: collapse;
	
}
.pad{
     padding: 10px;
}

body {
      position: relative;
  }
  .affix {
      top: 100px;
      width: 23.35%

  }
  